* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
 
body {
  font-family: sans-serif;
}

header{
  padding: 0px 0px;
}
 
main {
  width: 100%;
  margin: 0px auto;
}

.container{
  margin: 2% 3%;
}

.btn-movie{
  border-radius: 5px;
  background-color: #07c3e0;
  color: white;
  padding: 10px;
  border: none;
  font-size: 16px;
  text-decoration: none;
}

.last-button{
  margin-bottom:100px;
}